
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;

    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.formWraper{
    display: flex;
    width: 60%;
    height: 600px;
    background-color: rgb(191, 120, 164);
    margin-top: 50px;
    border-radius: 10px;
    box-shadow:0px 0px 20px black;
}
 
/* code for left sectin of form */
.formDiv, .signIn, .passwordreset{
    width: 60%;
    padding: 2%;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(191, 120, 164);
}
.formDiv h2 {
    color: rgb(9, 11, 9);
    margin-top: -5px;
}
 
/* code for right sectin of the registration form */
.welcomeDiv{
    width: 50%;
    padding: 10px;
    background-image: url(car2.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    border-radius: 0px 10px 10px 0px;
}  
.welcomeDiv h2 {
    margin-top: 110px;

}
 
 
 /* ---- code for Font Awsome social icons */
.socialBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color:lavender;
    margin: 5px;
    line-height: 30px;
    box-shadow: 0px 0px 10px black;
     
}
 
 
 
.text{
    font-size: small;
}
.orDiv, .orDiv2 {
    width: 10%;
    margin: 0 auto;
    position: relative;
    top: -16px;
    justify-content: center;
    background-color:  rgb(191, 120, 164);
}
 
/* code for form input fields */
.formGroup{
    width: 100%;
    position: relative;
}
.formGroup input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-style: none;
    padding-left: 30px !important;
}
 
 
/* Code for Icones inside html form input */
.formGroup i {
    position: absolute;
    left: 0px;
    top: 0px;
    color: grey;
    font-size: smaller;
    margin: 10px !important;
}
 
 
input::placeholder {
    position: relative;
    left: 10px;
}
input:focus{
    border-color: red;
}
.checkBox{
    width: 100%;
    margin-top: 2px;
}
 
.btn{
    width: 70%;
    padding: 15px;
    background-color:  rgb(75, 6, 72);
    margin-top: 15px;
    color: lavender;
    border-radius: 20px;
    border-style: none;
}
.btn2{
    width: 70%;
    padding: 13px;
    background-color:rgb(75, 6, 72);
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    color: lavender;
    border-radius: 20px;
    border-style: none;
    border: 2px solid rgb(247, 243, 243);
}
 
/* CSS mouse hover efects */
.btn:hover, .btn2:hover, .icon:hover, .iconBtn:hover{
    background-color: rgb(213, 64, 156);
    color: whitesmoke;
}

/* making HTML registration form responsive to mobile devices */
@media screen and (max-width: 1000px){
    .formWraper{
        width: 70%;
    }
}
@media screen and (max-width: 800px){
    .formDiv, .formWraper, .signIn, .passwordreset{
        width: 90%;
        border-radius: 10px 10px 10px 10px;
    }
    .welcomeDiv{
        display: none;
    }
    .hideBtn{
        display: block !important;
    }
    .eye{
        position: sticky;
    }
}

.fa{
    margin-right: 10px;
    margin-top: -2px;
}

.eye{
    position: relative;
    left: -35px;
    top: -3.7px;
}

/* login/ sign code*/
.SignInText{
    margin-top: -15px;
    font-size: 27px;
    color:black;
    font-weight: 700;

}

.textStyle{
    font-size: 12px;
    font-weight: 500;
    margin-top: -8px;
}

.hoverColor:hover{
    color: blue;
    cursor: pointer;
}

.hideBtn,  .signIn, .passwordreset, .signUpBtn, .passwordResetBtn{
    display: none;
}


.signIn{
    background-color:rgb(191, 120, 164);
}

.orDiv2{
    background-color: rgb(191, 120, 164);
    position: relative;
    top: 1px;
}

.line2{
    border:0.1px solid black;
    width: 70%;
    margin-bottom: -10px;
}

.iconBtn{
    width: 50%;
    padding: 10px;
    background-color: rgb(75, 6, 72);
    border-radius: 20px;
    margin-bottom: 5px;
    color: honeydew;
    border-style: none;
}

.icone2{
    margin-right: 2px;
    
}

.passwordreset{
    background-color:  rgb(191, 120, 164);
}

.passwordreset{
   padding-top: 110px;
}

.textAboveBtn{
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: -5px;

}

